*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

/*ROOT BEGINING*/
:root{
    --header-background-color: #1f2937;
    --header-font-family: 'Roboto', sans-serif;

    --header-logo-text-color: #f9faf8;
    --header-logo-text-font-size: 24px;
    --header-logo-font-family: 'Roboto', sans-serif;

    --header-link-text-color: #e5e7eb;
    --header-link-text-font-size: 18px;

    --hero-main-text-color: #F9FAF8;
    --hero-main-text-font-size: 48px;
    --hero-main-text-font-weight: 900;

    --hero-secondary-text-color: #e5e7eb;
    --hero-secondary-text-font-size: 18px;

    --information-header-text-color: #1F2937;
    --information-header-text-font-size: 36px;
    --information-header-text-font-weight: 900;

    --quote-section-background-color: #e5e7eb;
    --quote-text-color: #1f2937;
    --quote-text-font-size: 36px;
    --quote-text-font-style: italic;

    --btn-color: #3382F6;
    --footer-background-color: #1f2937;
}
/*ROOT END*/

header{
    background-color: var(--header-background-color);
}


/*HEADER STYLE BEGINING*/
.header{
    background-color: var(--header-background-color);
    font-family: var(--header-font-family);
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
}



/*LOGO STYLE BEGINING*/
.logo{
    color: var(--header-logo-text-color);
    font-size: var(--header-logo-text-font-size);
    font-family: var(--header-logo-font-family);
    font-weight: 900;
    margin: 6px 8px;
    padding: 0.3rem;
}
/*LOGO STYLE ENDING*/



/*SEARCH STYLE BEGINING*/
.search{
    width: 30%;
    height: 30px;
    border-radius: 2rem;
    border: none;
    padding: 7px 10px;
    margin-top: 8px;
}
/*SEARCH STYLE ENDING*/



/*NAV LINKS STYLE BEGINING*/
.nav{
    display: flex;
    list-style-type: none;
}
.nav-stuffs{
    margin: 6px 8px;
    padding: 0.3rem;
}

.nav-link{
    text-decoration: none;
    color: var(--header-link-text-color);
    font-family: Roboto, sans-serif;
    font-size: var(--header-link-text-font-size);
}
/*NAV LINKS STYLE ENDING*/

/*HEADER STYLE ENDING*/




/*HERO SECTION BEGINING*/
.hero{
    background-color: var(--header-background-color);
}
.contain{
    font-family: var(--header-font-family);
    background-color: var(--header-background-color);
    padding-top: 10%;
    width: 80%;
    justify-content: space-e;
    min-height: 100%;
    margin-right: 10%;
    margin-left: 10.6%;
    display: flex;
}

.word{
    width: 50%;
    margin
}
.image{
    width: 50%;
}