*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto' , sans-serif;
}

/*ROOT BEGINING*/
:root{
    --header-background-color: #1f2937;
    --header-font-family: 'Roboto', sans-serif;

    --header-logo-text-color: #f9faf8;
    --header-logo-text-font-size: 24px;
    --header-logo-font-family: 'Roboto', sans-serif;

    --header-link-text-color: #e5ebebc4;
    --header-link-text-font-size: 18px;
    /* --header-link-text-font-weight: 400; */
    --header-link-font-family: 'Roboto', sans-serif;

    --hero-main-text-color: #F9FAF8;
    --hero-main-text-font-size: 48px;
    --hero-main-text-font-weight: 900;
    --hero-main-font-family: 'Roboto', sans-serif;

    --hero-secondary-text-color: #e5ebebc4;
    --hero-secondary-text-font-size: 18px;
    /* --hero-secondary-text-font-weight: 400; */
    --hero-secondary-text-font-family: 'Roboto', sans-serif;


    --information-header-text-color: #1F2937;
    --information-header-text-font-size: 36px;
    --information-header-text-font-weight: 900;
    --information-header-text-font-family: 'Roboto', sans-serif;

    --quote-section-background-color: #e5e7eb;
    --quote-text-color: #1f29379a;
    --quote-text-font-size: 23px;
    --quote-text-font-style: italic;
    --quote-font-family: 'Roboto', sans-serif;

    --btn-color: #3382F6;



    --footer-background-color: #1f2937;
    --footer-font-family: 'Roboto', sans-serif;
}
/*ROOT END*/

header{
    background-color: var(--header-background-color);
}


/*HEADER STYLE BEGINING*/
.header{
    background-color: var(--header-background-color);
    font-family: var(--header-font-family);
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 15%;
    margin-left: 15%;
    width: 70%;
}



/*LOGO STYLE BEGINING*/
.logo{
    color: var(--header-logo-text-color);
    font-size: var(--header-logo-text-font-size);
    font-family: var(--header-logo-font-family);
    font-weight: 900;
    margin: 6px 8px;
    padding: 0.3rem;
}
/*LOGO STYLE ENDING*/



/*SEARCH STYLE BEGINING*/
/* .search{
    width: 30%;
    height: 30px;
    border-radius: 2rem;
    border: none;
    padding: 7px 10px;
    margin-top: 8px;
} */
/*SEARCH STYLE ENDING*/



/*NAV LINKS STYLE BEGINING*/
.nav{
    display: flex;
    list-style-type: none;
}
.nav-stuffs{
    margin: 6px 8px;
    padding: 0.3rem;
}

.nav-link{
    text-decoration: none;
    color: var(--header-link-text-color);
    font-family: Roboto, sans-serif;
    font-size: var(--header-link-text-font-size);
    font-weight: var(--header-link-text-font-weight);
}
/*NAV LINKS STYLE ENDING*/

/*HEADER STYLE ENDING*/




/*HERO SECTION BEGINING*/
.hero{
    background-color: var(--header-background-color);
    max-width: 100%;
    justify-items: center;
    margin: 0;
}
.contain{
    font-family: var(--header-font-family);
    background-color: var(--header-background-color);
    padding-top: 10%;
    width: 69%;
    display: flex;
    justify-items: center;
    margin-left: 13.9%;
    margin-right: 13%;
}
/* the tex on the left */
.word{
    width: 49%; 
    height: 300px;
}
.awesome{
    color: var(--hero-main-text-color);
    font-size: var(--hero-main-text-font-size);
    font-weight: var(--hero-main-text-font-weight);
    font-family: var(--hero-main-font-family);
}
.subtext{
    color: var(--hero-secondary-text-color);
    font-size: var(--hero-secondary-text-font-size);
    font-weight: var(--hero-secondary-text-font-weight);
    font-family: var(--hero-secondary-text-font-family);
}


.btn{
    width: 26%;
    height: 35px;
    background-color: var(--btn-color);
    border: none;
    border-radius: 10px;
    color: #f9faf8;
    font-size: var(--hero-secondary-text-font-size);
    font-weight: 600;
    font-family: var(--hero-secondary-text-font-family);
    margin-top: 2%;
    padding: 2px;
}
.image{
    width: 49%;
    height: 226.5px;
}
img{
    width: 100%;
    height: 100%;
}



.head{
    margin-top: 3%;
    color: var(--information-header-text-color);
    font-size: var(--information-header-text-font-size);
    font-weight: var(--information-header-text-font-weight);
    font-family: var(--information-header-text-font-family);
    text-align: center;
}


.cards{
    width: 60%;
    min-height: 100%;
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}
.text{
    margin-top: 5%;
    text-align: center;
    color: #1f2937;
    font-size: 15px;
    font-family: var(--hero-secondary-text-font-family);
}

.bord{
    border: 3px solid #3382F6;
    height: 150px;
    border-radius: 10px;
}




/* QUOTE START */
.quote{
    width: 100%;
    min-height: 100%;
    background-color: var(--quote-section-background-color);
    justify-items: center;
    margin-top: 6%;
    margin-bottom: 5%;
}


.txt{
    color: var(--quote-text-color);
    font-size: var(--quote-text-font-size);
    font-style: var(--quote-text-font-style);
    padding-top: 6%;
    padding-bottom: 5%;
}

.author{
    color: #1F2937;
    text-align: right;
    font-style: normal;
    font-size: 15px;
}

/* QUOTE END */


/* BUTTON START */
.lastbox{
    width: 70%;
    min-height: 100%;
    background-color: var(--btn-color);
    justify-self: center;
}
.box2{
    display: flex;
    margin: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    justify-content: space-between;
}
.word2{
    color: #e5e7eb;
}
.call{
    font-size: 20px;
}
.sign2{
    font-size: smaller;
}
.btn2{
    width: 100px;
    height: 25px;
    background-color: var(--btn-color);
    border: 2px solid white;
    border-radius: 5px;
    color: #f9faf8;
    font-size: 13px;
    font-weight: 600;
    font-family: var(--hero-secondary-text-font-family);
    margin-top: 12px;
}

/* BUTTON END */


/* FOOTER START */

.footer{
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: #e5e7eb;
    background-color: var(--footer-background-color);
    font-family: var(--footer-font-family);
    padding: 30px;
}